html, body {
  width: 100%;
  height: 100%;
}

.container {
  //背景色一半白一半黄
  //background: linear-gradient(to right,#FFEDF7 0%, #FFEDF7 65%, #003164 35%, #003164 100%);
  width: 100vw;
}

.home {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
}

.left {
  width: 65%;
  background-color: #FFEDF7;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .time{
    text-align: center;
    font: normal normal bold 80px/80px Roboto;
    padding-right: 80px;
    color: #FF4384;
    opacity: 1;
  }
  .bg{
    width: 100%;
    position: absolute;
    right: -140px;
  }
  .circle {
    position: absolute;
    right: 0;
    top: -140px;
    background-color: #FF4384;
    width: 280px;
    height: 280px;
    border-radius: 50% 50% 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .mine{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-left: 15px;
    }
    .countdown{
      background: url("/src/assets/circle/2x/baseline_play_circle_filled_white_48dp.png");
      background-size: cover;
      width: 50px;
      height: 50px;
    }
    .resert{
      background: url("/src/assets/stop/2x/baseline_stop_white_24dp.png");
      background-size: cover;
      width: 15px;
      height: 15px;
    }
  }
}

.right {
  width: 35%;
  background-color: #003164;
}


