html, body {
  margin: 0;
}

#root {
  display: flex;
}

.container {
  flex: 1;
  height: 100vh;
}

.home {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
}

@-webkit-keyframes bg__border__loading {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes bg__border__loading {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes bg__border__loading {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes bg__border__loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.left {
  width: 65%;
  background-color: #FFEDF7;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .time{
    text-align: center;
    font: normal normal bold 80px/80px Roboto;
    padding-right: 80px;
    color: #FF4384;
    opacity: 1;
  }
  .bg{
    width: 100%;
    position: absolute;
    right: -140px;
    &__border{
      position: absolute;
      right: -13px;
      top: -140px;
      border: 2px solid  red;
      border-radius: 50%;
      width: 300px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      &__loading{
        border-right: 10px solid #fff;
        border-bottom: 10px solid #fff;
        height: 280px;
        width: 280px;
        border-radius: 50%;
        -webkit-animation: bg__border__loading 1s infinite linear;
        -moz-animation: bg__border__loading 1s infinite linear;
        -o-animation: bg__border__loading 1s infinite linear;
        animation: bg__border__loading 1s infinite linear;
      }
    }

  }
  .circle {
    position: absolute;
    background-color: #FF4384;
    width: 280px;
    height: 280px;
    border-radius: 50% 50% 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .mine{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-left: 15px;
    }
    .timeStart{
      background: url("/src/assets/circle/2x/baseline_play_circle_filled_white_48dp.png");
      background-size: cover;
      width: 50px;
      height: 50px;
    }
    .timeStop{
      background: url("/src/assets/circle/2x/baseline_pause_circle_filled_white_48dp.png");
      background-size: cover;
      width: 50px;
      height: 50px;
    }
    .resert{
      background: url("/src/assets/stop/2x/baseline_stop_white_24dp.png");
      background-size: cover;
      width: 15px;
      height: 15px;
    }
  }
}

.right {
  width: 35%;
  background-color: #003164;
}



